body {
  font-family: 'Open Sans', sans-serif;
}

div#main {
  display: grid;
  grid-template-columns: 33% auto;
  grid-template-rows: max-content minmax(300px, 1fr) repeat(2, max-content);
  column-gap: 1em;
  row-gap: 1em;
}

#sidebar-title {
  grid-row-start: 1;
  grid-column-end: span 1;
  padding: 1em;
  font-weight: bold;
  font-size: larger;
}

/* #source {
  grid-row-start: 2;
  grid-column-start: 1;
} */

#customizer {
  padding: 20px;
  grid-column-start: 1;
}

.CodeMirror {
  height: 100% !important;
  grid-column-start: 1;
}

#help {
  grid-column-start: 1;
  line-height: 2em;
  text-align: center;
}

#result {
  padding: 2em;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-row-start: 1;
  align-self: start;
  border-left: thin solid black;
}

.drop1 {
  margin-top: 0.5em;
}

.row {
  padding: 4px 0 4px 4px;
}

.unit {
  font-size: smaller;
}

.category {
  font-size: 15px;
}

.detachment {
  font-size: larger;
}

.category, .unit, .option {
  margin-left: 1.4em;
}

.sumtotal {
  font-weight: bold;
  font-size: 15px;
}

.total {
  float: right;
  font-weight: bold;
  margin-left: 2em;
}

.totalrow {
  font-weight: bold;
  font-size: larger;
  margin-top: 1em;
  border-top: thin solid black;
}

.unit, .totalrow {
  position: relative;
}

.unit:nth-child(even) {
  background-color: #DDD;
}

.unit:nth-child(odd) {
  background-color: #FFF;
}

/* .detachment .sumtotal {
  display: none;
}

.unit .sumtotal {
  display: inline;
} */

.inner {
  display: flex;
  flex-direction: row;
}

.inner .text {
  flex-grow: 1;
}

.inner .total, .inner .sumtotal {
  flex-basis: 40px;
  text-align: right;
}

.annotation {
  font-style: italic;
}

.select-title {
  font-weight: bold;
}

.link {
  margin: 1em;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5em;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

@media print {
  div#main {
    display: inline;
  }
  #sidebar-title, .CodeMirror, #customizer, #help {
    display: none;
  }
  #result {
    width: 90%;
    border: none;
  }
}
