body {
  font-family: 'Open Sans', sans-serif;
}

div#main {
  display: grid;
  grid-template-columns: 33% auto 25%;
  grid-template-rows: auto;
  column-gap: 1em;
  row-gap: 1em;
}

#sidebar-title {
  grid-row-start: 1;
  grid-column-end: span 1;
  padding: 1em;
  font-weight: bold;
  font-size: larger;
}

#sidebar {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  border-right: solid thin black;
}

#customizer {
  border-left: solid thin black;
  grid-row-start: 2;
  grid-column-start: 3;
  align-self: right;
  margin-top: 2.5em;
  padding: 2.5em;
}

.CodeMirror {
  height: calc(100% - 7em) !important;
}

#help {
  grid-row-start: 2;
  grid-row-end: 1;
  line-height: 2em;
  text-align: center;
}

#result {
  padding: 2em;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  align-self: start;
}

.drop1 {
  margin-top: 0.5em;
}

.row {
  padding: 0.2em;
}

.unit {
  font-size: smaller;
}

.category {
  font-size: 15px;
}

.detachment {
  font-size: larger;
}

.category, .unit, .option {
  margin-left: 1.4em;
}

.sumtotal {
  font-weight: bold;
  font-size: larger;
}

.total {
  float: right;
  font-weight: bold;
  margin-left: 2em;
}

.totalrow {
  font-weight: bold;
  font-size: larger;
  margin-top: 1em;
  border-top: thin solid black;
}

.unit, .totalrow {
  position: relative;
}

.unit:nth-child(even) {
  background-color: #DDD;
}

.unit:nth-child(odd) {
  background-color: #FFF;
}

.detachment .sumtotal {
  display: none;
}

.unit .sumtotal {
  display: inline;
}

.unit .inner {
  display: flex;
  flex-direction: row;
}

.inner .text {
  flex-grow: 1;
}

.inner .total, .inner .sumtotal {
  flex-basis: 40px;
  text-align: right;
}

.annotation {
  font-style: italic;
}

.select-title {
  font-weight: bold;
}

.link {
  margin: 1em;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5em;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

@media print {
  div#main {
    display: inline;
  }
  #sidebar {
    display: none;
  }
  #sidebar-title {
    display: none;
  }
  #result {
    width: 90%;
  }
  #customizer {
    display: none;
  }
}
